<launch>
  <arg name="world_file" default="$(find gazebo_soccer_test)/worlds/soccer_field.xml" />
  <arg name="gui" default="true" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <node name="soccer_ball" pkg="gazebo_ros" type="spawn_model" args="-file /home/osawa/.gazebo/models/robocup_3Dsim_ball/model.sdf -sdf -x 0.5 -model robocup_3Dsim_ball" />
</launch>
